body {
    background-color: #7a8adb;
}

.container {
    width: 80vw;
    height: 80vh;
    margin: auto;
    background-color: #e2e8ff;
/*    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);*/
    border-radius: 15px;
    padding: 20px;
    margin-top: 10vh;
}

header {
    height: 30%;
}

section {
    height: 60%;
}

footer {
    height: 10%;
}

header h1 {
    text-align: center;
    padding: 10px 0;
    clear: both;
}

header .timer {
    text-align: right;
    float: right;
}

.sg-logo {
    float: left;
}

h3 {
    text-align: center;
}

.hide-me {
    display: none;
}

.hide {
    opacity: 0;
}

.wraper {
    text-align: center;
    height: 10%;
}

/**/
.welcome p {
    height: 90%;
}
/**/

.game #ridle {
    height: 25%;
}

.game #choices {
    height: 65%;
}

/*
.game .wraper {
    height: 10%;
}
*/

.select {
    margin-left: 5px;
}
.select:hover {
    color: #787878;
}

.view {
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view h1 {
    color: #020a1a;
}

.view h2 {
    text-align: center;
}

.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}