.container {
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
    border: 1px solid green;
}

header h1 {
    text-align: center;
    padding: 10px 0;
    float: left;
    width: 80%;
}

header .timer {
    float: left;
    width: 20%;
}

.clear {
    clear: both;
}

h3 {
    text-align: center;
}

.hide-me {
    display: none;
}